 
.table , .th{
    border: 2px solid #171515;
    padding: 10px;
    text-align: center;
    font-weight: 500;
  }
  
  .td {
    border: 2px solid #171515;
    padding: 10px;
    text-align: center;
    font-weight: 550;
    background-color: white;
    color: black;
  }
  
  .th {
    
  
    background-color: #171515;
    color: #ffffff;
    font-weight: 600;
  }
  .tr {

  }

 
    
    
.table2  {
  border: none;
  padding: 10px;
  text-align: center;
  font-weight: 400;
}

.td2 {
  border: 1px solid #171515;
  padding: 10px;
  text-align: center;
  font-weight: 400;
  background-color: white;
  color: black;
}

.th2 {
  
  /* border: 1px solid #171515; */
  border: none;
  padding: 10px;
  text-align: center;
  font-weight: 400;
  background-color: #126BB5;
  color: #ffffff;
  font-weight: 600;
}
.tr2 {

}

  
 