@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
--primary : #0375C9;
--secondary : #045192;
--inter : #126BB5;
 
}

table {
  border-collapse: collapse;
  width: 100%;
  
}

table, th  {
  border: 2px solid var(--secondary);
  padding: 10px;
  text-align: center;
  
}

 
td {
  border: 3px solid white;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  
  background-color: var(--primary);
  color: white;
}

th {
  background-color: var(--secondary);
  color: #ffffff;
}

body {
  font-family: 'Work Sans', sans-serif;
  padding: 0%;
  box-sizing: border-box;

}
